<h1 id="questions-header" class="small-8 left">QUESTIONS</h1>
<% if user_signed_in? %>
<%= link_to "Profile", user_path(@user.id), class: "small button radius right" %>


<ul class="small-block-grid-2 large-block-grid-6">
  <li>a list item1</li>
  <li>a list item2</li>
  <li>a list item3</li>
  <li>a list item4</li>
  <li>a list item5</li>
  <li>a list item6</li>
  <li>a list item7</li>
  <li>a list item8</li>
  <li>a list item9</li>
  <li>a list item10</li>
  <li>a list item11</li>
  <li>a list item12</li>
</ul>





  <!-- <table>
    <thead>
      <tr>
        <th class="small-6">Question</th>
        <th width="small-3">user</th>
        <th width="small-2">required skills</th>
        <th width="small-1">time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
      <tr>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
      <tr>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
      </tr>
    </tbody>
  </table> -->
<% end %>
