<div class="small-12 column blue-marble">

</div>

<div class="small-12 column white-marble">
  <% @questions.each do |question| %>
    <li> Question by <%= question.user.name %></li>
    <li> Question: <%= question.body %></li>
    <li> Description: <%= question.description %></li>
    <br>
  <% end %>
</div>
<div class="small-12 column blue-marble"></div>
