<div class="small-12 white-marble">
  <div style="padding-left: 180px;font-size:50pt;font-family:Zapf Chancery, cursive;font-weight:bold;">
    NEW QUESTION
  </div>
</div>

<div class="small-12 column blue-marble"></div>

<div class="small-12 column white-marble" style="padding-top: 50px">
  <div class="small-12 column">
  </div>

  <%= render "form_for" %>

  <div class="small-12 column">
    <%= link_to "Cancel", root_path %>
  </div>
</div>
<div class="small-12 column blue-marble"></div>
