<div class="small-12 white-marble">
  <div class="question-title" style="margin-left:150px">
    NEW QUESTION
  </div>
</div>

<div class="small-12 column blue-marble"></div>

<div class="small-12 column white-marble" style="padding-top: 50px">
  <div class="small-12 column">
  </div>

  <%= render "form_for" %>

  <div class="small-12 column">
    <%= link_to "Cancel", root_path %>
  </div>
</div>
<div class="small-12 column blue-marble"></div>
