<div class="small-12 column background-box">
  <div> posted by <%= @question.user.name %> on
    <%= @question.created_at %></div>
  <h2> <%= @question.body %> </h2>
  <h3> <%= @question.description %> </h3>
</div>
