<div class="small-12 column background-box">
  <div class="row">
    <div style="margin-top:200px; margin-bottom:400px;">
      <img src="http://i.imgur.com/SjSTIWz.png"
      alt="freeLanswers" style="margin-left:22%;width:500px;height:150px;">
    </div>
  </div>
</div>
