<div class="small-12 column background-box">
  <% if user_signed_in? %>
  <%= link_to "Profile", user_path(current_user.id), class: "small button radius right" %>
  <%= link_to "List of skills", skills_path, class: "small button radius right", style: "margin-right:5px;" %>
  <%= link_to "All Users", users_path, class: "small button radius right", style: "margin-right:5px;" %>
  <% end %>
  <div class="small-centered">
    <img src="http://i.imgur.com/SjSTIWz.png" alt="freeLanswers" style="width:250px;height:74px;">
  </div>
</div>
<a href="#set-8" class="hi-icon hi-icon-archive">Archive</a>

<div class="small-12 column background-box">
  <button class="md-trigger button expand" data-modal="modal-12">Ask a question now!</button>
  <!-- <%= link_to "Ask a question now!", new_question_path, {class: "button expand"} %> -->
  <div class="md-modal md-effect-12 md-hide" id="modal-12">
    <div class="md-content">
    	<h3>Modal Dialog</h3>
    	<div>
    		<p>This is a modal window. You can do the following things with it:</p>
    		<ul>
    			<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
    			<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
    			<li><strong>Close:</strong> click on the button below to close the modal.</li>
    		</ul>
    		<button class="md-close">Close me!</button>
    	</div>
    </div>
  </div>
</div>
