<div class="small-12 column blue-marble"></div>
<div class="small-12 column background-box">
  <div class="row">
    <% if current_user %>
      <div class="homes-logo">
        <img src="http://i.imgur.com/SjSTIWz.png" alt="freeLanswers">
      </div>
    <% else %>
    <div class="homes-logo">
      <a href="#" data-reveal-id="myModal">
        <img src="http://i.imgur.com/SjSTIWz.png" alt="freeLanswers">
        <div class="homes-links">Sign in</div>
      </a>
      <div id="myModal" class="reveal-modal inner-homes"
      data-reveal aria-labelledby="modalTitle"
      aria-hidden="true" role="dialog">
        <%= render "devise/sessions/modal" %>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="small-12 column blue-marble"></div>
