#panel1d-heading {
  background: image-url(drawer1);
  background-size: cover;
  height: 120px;
  width: 100%;
}
#panel2d-heading {
  background: image-url(drawer2);
  background-size: cover;
  height: 120px;
  width: 100%;
}
#panel3d-heading {
  background: image-url(drawer3);
  background-size: cover;
  height: 120px;
  width: 100%;
}
#panel4d-heading {
  background: image-url(drawer4);
  background-size: cover;
  height: 120px;
  width: 100%;
}
#panel5d-heading {
  background: image-url(drawer5);
  background-size: cover;
  height: 120px;
  width: 100%;
}
#panel6d-heading {
  background: image-url(drawer6);
  background-size: cover;
  height: 120px;
  width: 100%;
}
#panel7d-heading {
  background: image-url(drawer7);
  background-size: cover;
  height: 120px;
  width: 100%;
}
#panel8d-heading {
  background: image-url(drawer8);
  background-size: cover;
  height: 120px;
  width: 100%;
}
#panel9d-heading {
  background: image-url(drawer9);
  background-size: cover;
  height: 120px;
  width: 100%;
}
#panel10d-heading {
  background: image-url(drawer10);
  background-size: cover;
  height: 120px;
  width: 100%;
}
#panel11d-heading {
  background: image-url(drawer11);
  background-size: cover;
  height: 120px;
  width: 100%;
}
#panel12d-heading {
  background: image-url(drawer11);
  background-size: cover;
  height: 120px;
  width: 100%;
}
.accordion>.content {
  background-color: #663300;
  border-right-color: #663300;
  border-left-color: #663300;
  border-right-style: solid;
  border-left-style: solid;
}
