.homes-logo {
  margin-top:200px;
  margin-bottom:300px;
  margin-left:22%;
  width:500px;
  height:150px;
}

.homes-links {
  margin-left:205px;
  font-size:25px;
  color:#555555;
}

.inner-homes {
   padding:0px;
   margin-top:150px;
   border-radius:15px;
}
